---
Checks:          '*,-altera-*,-cert-*,-llvmlibc-restrict-system-libc-headers,-bugprone-reserved-identifier,-bugprone-easily-swappable-parameters'
WarningsAsErrors: '*'
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     none
